<div id="background_box" class="jumbotron text-center">

  <div id="center_box" class="jumbotron text-center">
    <img id="logout_emoji" src="/img/sad-emoji.png" alt="login_icon" />
      <h3 id="logout_warning">Are you sure you want to logout?</h3>
      <div id="loginStuff">
        <button {{action 'logOut'}} id="logout_button" class="btn btn-primary login-button btn-block">Logout</button>
      </div>
  </div>
</div>
